@tailwind components;

@layer components {
    :root {

        .select-content, .select-trigger {
            background-color: var(--secondary);
            color: var(--secondary-foreground);
            caret-color: var(--gray-2);
        }
        .trigger:hover {
            background-color: var(--red-1);
        }

        .select-item:hover {
            background-color: var(--blue-1);
        }
    }
    .dark {

        .select-content, .select-trigger {
            background-color: var(--secondary);
            color: var(--gray-13);
            caret-color: var(--gray-13);
        }

        .select-trigger:hover {
            background-color: var(--gray-3);
        }

        .select-item:hover {
            background-color: var(--blue-2);
        }
    }
}
