@tailwind base;
@tailwind components;
@tailwind utilities;

@layer theme {
  --font-poppins: Poppins, sans-serif;
}

@layer base {
  :root {
    --primary-background: var(--gray-14);
    --primary-foreground:var(--gray-1);
    --secondary: var(--gray-13);
    --secondary-foreground: var(--gray-7);
    --radius: 0.5em;
    --gray-primary: var(--gray-1);
    --blue-primary: var(--blue-4);
    --green-primary: var(--green-4);
    --red-primary: var(--red-4);
    --yellow-primary: var(--yellow-4);
    --orange-primary: var(--orange-4);
    --purple-primary: var(--purple-4);
    --teal-primary: var(--teal-4);
    --white: var(--gray-14);
    --fill: var(--gray-12);
    --stroke: var(--gray-6);

    --gray-14: #FFFFFF;
    --gray-13: #F7F8FA;
    --gray-12: #EBECF0;
    --gray-11: #DFE1E5;
    --gray-10: #D3D5DB;
    --gray-9: #C9CCD6;
    --gray-8: #A8ADBD;
    --gray-7: #818594;
    --gray-6: #6C707E;
    --gray-5: #5A5D6B;
    --gray-4: #494B57;
    --gray-3: #383A42;
    --gray-2: #27282E;
    --gray-1: #000000;

    --blue-13: #F5F8FE;
    --blue-12: #EDF3FF;
    --blue-11: #D4E2FF;
    --blue-10: #C2D6FC;
    --blue-9: #A0BDF8;
    --blue-8: #88ADF7;
    --blue-7: #709CF5;
    --blue-6: #588CF3;
    --blue-5: #4682FA;
    --blue-4: #3574F0;
    --blue-3: #3369D6;
    --blue-2: #315FBD;
    --blue-1: #2E55A3;

    --green-11: #F2FCF3;
    --green-10: #E6F7E9;
    --green-9: #C5E5CC;
    --green-8: #AFDBB8;
    --green-7: #89C398;
    --green-6: #55A76A;
    --green-5: #369650;
    --green-4: #208A3C;
    --green-3: #1F8039;
    --green-2: #1F7536;
    --green-1: #1E6B33;

    --red-11: #FFF7F7;
    --red-10: #FFF2F3;
    --red-9: #FAD4D8;
    --red-8: #F2B6BB;
    --red-7: #ED99A1;
    --red-6: #E46A76;
    --red-5: #E55765;
    --red-4: #DB3B4B;
    --red-3: #CC3645;
    --red-2: #BC303E;
    --red-1: #AD2B38;

    --yellow-10: #FFFAEB;
    --yellow-9: #FFF6DE;
    --yellow-8: #FFF1D1;
    --yellow-7: #FEE6B1;
    --yellow-6: #FED277;
    --yellow-5: #FDBD3D;
    --yellow-4: #FFAF0F;
    --yellow-3: #DF9303;
    --yellow-2: #C27D04;
    --yellow-1: #A46704;

    --orange-9: #FFF4EB;
    --orange-8: #FCE6D6;
    --orange-7: #F9D2B6;
    --orange-6: #F2B181;
    --orange-5: #EC8F4C;
    --orange-4: #E56D17;
    --orange-3: #CE6117;
    --orange-2: #B85516;
    --orange-1: #A14916;

    --purple-9: #FAF5FF;
    --purple-8: #EFE5FF;
    --purple-7: #DCCBFB;
    --purple-6: #BFA1F8;
    --purple-5: #A177F4;
    --purple-4: #834DF0;
    --purple-3: #7444D4;
    --purple-2: #643CB8;
    --purple-1: #55339C;

    --teal-9: #F2FCFC;
    --teal-8: #DAF4F5;
    --teal-7: #B6E4E5;
    --teal-6: #7BCCCF;
    --teal-5: #3FB3B8;
    --teal-4: #039BA1;
    --teal-3: #058B90;
    --teal-2: #077A7F;
    --teal-1: #096A6E;

    /* alert */




    --slim-button-active-text:var(--gray-1);
    --slim-button-active-bg:var(--gray-14);
    --slim-button-active-border:var(--gray-9);

    --slim-button-hovered-text:var(--gray-1);
    --slim-button-hovered-bg:var(--gray-14);
    --slim-button-hovered-border:var(--gray-8);

    --slim-button-pressed-text:var(--gray-1);
    --slim-button-pressed-bg:var(--gray-13);
    --slim-button-pressed-border:var(--gray-7);

    --slim-button-focused-text:var(--gray-1);
    --slim-button-focused-bg:var(--gray-14);
    --slim-button-focused-border:var(--gray-4);

    --slim-button-disabled-text:var(--gray-8);
    --slim-button-disabled-bg:var(--gray-12);

    /* check box */
    --check-box-checked-active-bg:var(--blue-4);
    --check-box-checked-active-stroke:var(--gray-14);
    --check-box-checked-active-label:var(--gray-1);
    --check-box-checked-active-hint:var(--gray-6);

    --check-box-checked-hovered-bg:var(--blue-3);
    --check-box-checked-hovered-stroke:var(--gray-14);
    --check-box-checked-hovered-label:var(--gray-1);
    --check-box-checked-hovered-hint:var(--gray-6);

    --check-box-checked-focused-bg:var(--blue-4);
    --check-box-checked-focused-stroke:var(--gray-14);
    --check-box-checked-focused-label:var(--gray-1);
    --check-box-checked-focused-hint:var(--gray-6);

    --check-box-checked-invalid-bg:var(--blue-4);
    --check-box-checked-invalid-stroke:var(--gray-14);
    --check-box-checked-invalid-border:var(--red-red-4);
    --check-box-checked-invalid-label:var(--gray-1);
    --check-box-checked-invalid-hint:var(--gray-6);

    --check-box-checked-disabled-bg:var(--gray-9);
    --check-box-checked-disabled-stroke:var(--gray-14);
    --check-box-checked-disabled-label:var(--gray-8);
    --check-box-checked-disabled-hint:var(--gray-9);

    --check-box-unchecked-active-bg:var(--gray-14);
    --check-box-unchecked-active-border:var(--blue-8);
    --check-box-unchecked-active-label:var(--gray-1);
    --check-box-unchecked-active-hint:var(--gray-6);

    --check-box-unchecked-hovered-bg:var(--gray-14);
    --check-box-unchecked-hovered-border:var(--gray-6);
    --check-box-unchecked-hovered-label:var(--gray-1);
    --check-box-unchecked-hovered-hint:var(--gray-6);

    --check-box-unchecked-focused-bg:var(--gray-14);
    --check-box-unchecked-focused-border:var(--blue-4);
    --check-box-unchecked-focused-label:var(--gray-1);
    --check-box-unchecked-focused-hint:var(--gray-6);

    --check-box-unchecked-invalid-bg:var(--gray-14);
    --check-box-unchecked-invalid-border:var(--red-red-4);
    --check-box-unchecked-invalid-label:var(--gray-1);
    --check-box-unchecked-invalid-hint:var(--gray-6);

    --check-box-unchecked-disabled-bg:var(--gray-13);
    --check-box-unchecked-disabled-border:var(--gray-11);
    --check-box-unchecked-disabled-label:var(--gray-8);
    --check-box-unchecked-disabled-hint:var(--gray-6);

    /* alert*/

    --alert-bg:var(--gray-2);
    --alert-stroke:var(--gray-4);

    /* dialog-content */
    /*window controller gray9*/
    --dialog-header-bg:var(--gray-13);
    --dialog-header-border:var(--gray-12);
    --dialog-header-text:var(--gray-1);

  }
  .dark {
    /*define*/
    --primary-background: var(--gray-1);
    --primary-foreground:var(--gray-12);
    --secondary: var(--gray-2);
    --secondary-foreground: var(--gray-7);
    --radius: 0.5em;

    --gray-primary: var(--gray-1);
    --blue-primary: var(--blue-6);
    --green-green-primary: var(--green-6);
    --yellow-yellow-primary: var(--yellow-7);
    --red-red-primary: var(--red-6);
    --orange-orange-primary: var(--orange-6);
    --purple-purple-primary: var(--purple-6);
    --teal-teal-primary: var(--teal-6);
    --white:var(--gray-14);

    --gray-14: #FFFFFF;
    --gray-13: #F0F1F2;
    --gray-12: #DFE1E5;
    --gray-11: #CED0D6;
    --gray-10: #B4B8BF;
    --gray-9: #9DA0A8;
    --gray-8: #868A91;
    --gray-7: #6F737A;
    --gray-6: #5A5D63;
    --gray-5: #4E5157;
    --gray-4: #43454A;
    --gray-3: #393B40;
    --gray-2: #2B2D30;
    --gray-1: #1E1F22;

    --blue-11: #99BBFF;
    --blue-10: #83ACFC;
    --blue-9: #6B9BFA;
    --blue-8: #548AF7;
    --blue-7: #467FF2;
    --blue-6: #3574F0;
    --blue-5: #366ACF;
    --blue-4: #375FAD;
    --blue-3: #35538F;
    --blue-2: #2E436E;
    --blue-1: #25324D;

    --green-11: #D4FAD7;
    --green-10: #B9EBBD;
    --green-9: #A0DBA5;
    --green-8: #89CC8E;
    --green-7: #73BD79;
    --green-6: #5FAD65;
    --green-5: #57965C;
    --green-4: #4E8052;
    --green-3: #436946;
    --green-2: #375239;
    --green-1: #253627;

    --yellow-11: #FFF6BD;
    --yellow-10: #FCEBA4;
    --yellow-9: #F7DE8B;
    --yellow-8: #F5D273;
    --yellow-7: #F2C55C;
    --yellow-6: #D6AE58;
    --yellow-5: #BA9752;
    --yellow-4: #9E814A;
    --yellow-3: #826A41;
    --yellow-2: #5E4D33;
    --yellow-1: #3D3223;

    --red-11: #FAE3DE;
    --red-10: #F7CCC6;
    --red-9: #F2B1AA;
    --red-8: #EB938D;
    --red-7: #E37774;
    --red-6: #DB5C5C;
    --red-5: #BD5757;
    --red-4: #9C4E4E;
    --red-3: #7A4343;
    --red-2: #5E3838;
    --red-1: #402929;

    --orange-11: #FFDFC7;
    --orange-10: #FACEAF;
    --orange-9: #F5BD98;
    --orange-8: #F0AC81;
    --orange-7: #E5986C;
    --orange-6: #E08855;
    --orange-5: #C77D55;
    --orange-4: #A36B4E;
    --orange-3: #825845;
    --orange-2: #614438;
    --orange-1: #45322B;

    --purple-11: #E4CFFF;
    --purple-10: #D4B8F9;
    --purple-9: #C4A0F3;
    --purple-8: #B589EC;
    --purple-7: #A571E6;
    --purple-6: #955AE0;
    --purple-5: #8150BE;
    --purple-4: #6C469C;
    --purple-3: #583D7A;
    --purple-2: #433358;
    --purple-1: #2F2936;

    --teal-11: #B9EBE6;
    --teal-10: #9BDDD6;
    --teal-9: #7DCEC5;
    --teal-8: #60C0B5;
    --teal-7: #42B1A4;
    --teal-6: #24A394;
    --teal-5: #238E82;
    --teal-4: #21786F;
    --teal-3: #20635D;
    --teal-2: #1E4D4A;
    --teal-1: #1D3838;




    --slim-button-active-text:var(--gray-12);
    --slim-button-active-border:var(--gray-5);

    --slim-button-hovered-text:var(--gray-13);
    --slim-button-hovered-border:var(--gray-7);

    --slim-button-pressed-text:var(--gray-13);
    --slim-button-pressed-bg:var(--gray-2);
    --slim-button-pressed-border:var(--gray-7);

    --slim-button-focused-text:var(--gray-12);
    --slim-button-focused-bg:var(--gray-14);
    --slim-button-focused-border:var(--gray-6);

    --slim-button-disabled-text:var(--gray-8);
    --slim-button-disabled-bg:var(--gray-5);

    /* check box */
    --check-box-checked-active-bg:var(--blue-6);
    --check-box-checked-active-stroke:var(--gray-14);
    --check-box-checked-active-label:var(--gray-12);
    --check-box-checked-active-hint:var(--gray-7);

    --check-box-checked-hovered-bg:var(--blue-5);
    --check-box-checked-hovered-stroke:var(--gray-14);
    --check-box-checked-hovered-label:var(--gray-12);
    --check-box-checked-hovered-hint:var(--gray-7);

    --check-box-checked-focused-bg:var(--blue-6);
    --check-box-checked-focused-stroke:var(--gray-14);
    --check-box-checked-focused-label:var(--gray-12);
    --check-box-checked-focused-hint:var(--gray-7);

    --check-box-checked-invalid-bg:var(--blue-6);
    --check-box-checked-invalid-stroke:var(--gray-14);
    --check-box-checked-invalid-border:var(--red-red-6);
    --check-box-checked-invalid-label:var(--gray-12);
    --check-box-checked-invalid-hint:var(--gray-7);

    --check-box-checked-disabled-bg:var(--gray-3);
    --check-box-checked-disabled-stroke:var(--gray-8);
    --check-box-checked-disabled-label:var(--gray-7);
    --check-box-checked-disabled-hint:var(--gray-7);

    --check-box-unchecked-active-border:var(--gray-6);
    --check-box-unchecked-active-label:var(--gray-12);
    --check-box-unchecked-active-hint:var(--gray-7);

    --check-box-unchecked-hovered-border:var(--gray-9);
    --check-box-unchecked-hovered-label:var(--gray-12);
    --check-box-unchecked-hovered-hint:var(--gray-7);

    --check-box-unchecked-focused-border:var(--blue-6);
    --check-box-unchecked-focused-label:var(--gray-12);
    --check-box-unchecked-focused-hint:var(--gray-7);

    --check-box-unchecked-invalid-border:var(--red-red-6);
    --check-box-unchecked-invalid-label:var(--gray-12);
    --check-box-unchecked-invalid-hint:var(--gray-7);

    --check-box-unchecked-disabled-bg:var(--gray-3);
    --check-box-unchecked-disabled-border:var(--gray-6);
    --check-box-unchecked-disabled-label:var(--gray-7);
    --check-box-unchecked-disabled-hint:var(--gray-7);


    /* alert*/
    --alert-bg:var(--gray-13);
    --alert-stroke:var(--gray-10);

    /* dialog-content */
    /*window controller gray6*/
    --dialog-header-bg:var(--gray-2);
    --dialog-header-border:var(--gray-3);
    --dialog-header-text:var(--gray-12);
  }
}

@layer base {

  body {
    background-color: var(--primary-background);
    color: var(--primary-foreground);
  }
}
