@tailwind components;

@layer components {
  :root {
    .input {
      background-color: var(--secondary-background);
      color:var(--secondary-foreground);
      caret-color:var(--gray-2);
    }
  }
  .dark {
    .input {
      background-color: var(--secondary-background);
      color:var(--gray-13);
      caret-color:var(--gray-13);
    }
  }
}
